{{> head }}

{{> navbar }}

<div class="jumbotron">

    <div class="row">
        <div class="col-8">
            <h1 class="display-4">About</h1>
            <hr class="my-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis fuga praesentium fugit similique dolore magni ab eum dolorem nesciunt iusto consectetur quasi vitae enim error perferendis quaerat, doloribus magnam illo.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/imagen1.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>


{{> footer }}