{{> head }}

{{> navbar }}

<div class="jumbotron">
    <h1 class="display-4">Contact me</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ullam ex, dolorem accusantium, illum optio hic id, officiis ea explicabo dolor sint. Expedita eveniet iste perspiciatis, deserunt delectus labore. Voluptatum?</p>
    <hr class="my-4">
</div>

{{> footer }}